# IPs do Cluster distribuído Cassandra
CASSANDRA_IP_LOCAL=
CASSANDRA_IP_MASTER=
CASSANDRA_CORE_KEYSPACE=

# Identidade topológica desta API 
# (Ex: DC_clinica_x ou DC_sistema_core)
CASSANDRA_LOCAL_DC=

# Config Keycloak
KEYCLOAK_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REALM=

# Banco de Dados SQL (MariaDB)
MARIADB_HOST=
MARIADB_PORT=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DB=

# URL base da API (usada na validação do DPoP htu)
BASE_URL=

# Configurações de envio de e-mail (SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

# Chave de API do Google Gemini para o agente de IA
GEMINI_API_KEY=