# IPs do Cluster distribuído
CASSANDRA_IP_LOCAL=
CASSANDRA_IP_MASTER=
CASSANDRA_CORE_KEYSPACE=

# Identidade desta API na Clínica A
CASSANDRA_LOCAL_DC=
CASSANDRA_CLINICA_KEYSPACE=

# Config Keycloak
KEYCLOAK_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REALM=